.slide-container {
    display: flex; /* или grid */
    align-items: center; /* для выравнивания содержимого по вертикали */
    flex-direction: row;
    /* Дополнительные стили по желанию */
}

.image-container {
    flex: 0 0 70%; /* Ширина контейнера с изображением */
    /* Дополнительные стили по желанию */
}

.text-container {
    flex: 0 0 30%; /* Ширина контейнера с текстом */
    /* Дополнительные стили по желанию */
}
